<h1>Lists#form</h1>

<div class = "form">
  <%= simple_form_for @list do |f| %>

    <%= f.input :name, label: "Collection Name" %>
    <%= f.input :description %>

    <%= f.button :submit %>
  <% end %>
</div>

