<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>
<div class="itemscontainer ">
  <ul>
    <% @lists.each do |l| %>
      <li class ='List'>
        <h1><%= link_to l.name, list_path(l) %></h1>
        <h2><%= link_to l.description, list_path(l) %></h2>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Add New ', new_list_path %>
</div>
