
<div class="welcome">
  <h1>Collectors</h1>
  <div id="userlogin">
    <h2><%= link_to " Please Log In", new_user_session_path %></h2>
    <h3>or</h3>
    <h3><%= link_to "Sign Up", new_user_registration_path %></h3>

  </div>
</div>

