// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  margin: 0 auto;
  text-align: center;
}

 .itemPhoto{
  padding: 0;
  margin:0;
  height: 400px;
 }

.itemPhoto img, .showPhoto img {
  max-width: 100%;
  padding: 0;
}

.btn p {
  display: inline-block;
  flex-direction: row;
  font-size: 1.2em;
  padding: 0 .6em 0 0;
}

.crudbutton{
  display: inline-block;
  color: #ed4b3a;
  font-size: 2em;
  border: 1px solid red;
  margin: 1em;
  padding: .5em;
  font-weight: bold;
}

.crudbutton a {
  color: white;
  border: 1px solid white;
}

a:hover{
  color: white;
}


.itemscontainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.itemscontainer ul li a {
  text-decoration: none;
}

.itemShow{
  background-color: white;
  text-align: left;
  padding: 1em;
  font-family: 'Merriweather Sans', sans-serif;

}

.itemShow h2{
  color: #ed4b3a;
  font-weight: bold;
  margin-top: 2em;
}

.itemShow h3{
  color: #ed4b3a;
  font-style: italic;
  font-weight: 400;
}

.itemShow p{
  font-size: 1.4em;
  color: #153f6a;
  font-weight: 400;
}


.showbtn{
  font-size: 1.2em;
  padding: .2em;
  margin: 1em .4em;
  display: inline-block;


}





