// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .bigcircle{
//   width: 1200px;
//   height: 1200px;
//   border-radius: 50%;
//   background-color: white;
//   position: absolute;
//   left: -300px;
//   top: -300px;
// }


.listscontainer{
  background-color: white;
  border: 1px solid cyan;
  text-align: center;
  padding: 0em 3em;
  margin: 0 auto;
  width: 80%;
}

.listShow{
  background-color: white;
  border: 1px solid blue;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.listShow ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listShow ul li a {
  text-decoration: none;
}


.collection{
  border: 1px solid red;
  margin:  2em auto;
  background-color: lightgrey;
 }

 .listPhoto{
  padding: 0;
  margin:0;
 }

.listPhoto img, .showPhoto img {
  max-width: 100%;
  padding: 0;
}

#listSingle {
  margin: 1em 0em;
  width: 50%;
  // padding-left: 0;
  // padding-right: 0;
  //border: 1px solid cyan;
}

.listSingle .list{
  text-align: left;
  border: 1px solid red;
  padding: 0;
}

.list{
  padding: 1em;
  text-align: left;
  //border: 1px solid blue;
}

.list h2{
  padding-left: .5em;
}

.list p{
  margin: .6em auto;
  padding: 0 1em;
  font-size: 1.4em;
}

 .collectPhoto{
  // background: #ffffff url("http://res.cloudinary.com/ga-mao/image/upload/v1506348785/vb4qug1bpbpf7drdglqe.jpg") no-repeat center center;
  background-color: lightblue;
  height: 230px;
 }



